
@{
    ViewBag.Title = "Nuevga Compra";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Procesos</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Ventas")">Ventas</a></li>
    <li class="breadcrumb-item active">Nueva</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-toolbox me-1"></i> Registrar nueva venta
    </div>
    <form name="frmCompra" class="card-body">
        <div class="row" style="row-gap: 1rem;">
            <div class="col-6">
                <label for="ddlCliente" class="form-label">Cliente</label>
                <select class="form-control" id="ddlCliente" name="IdCliente"></select>
            </div>
            <div class="col-6">
                <label for="ddlTipoPago" class="form-label">Tipo Pago</label>
                <select class="form-control" id="ddlTipoPagos" name="IdTipoPagos"></select>
            </div>
            <div class="col-6">
                <label for="txtFecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="txtFecha" name="Fecha" readonly>
            </div>
            <div class="col-6">
                <label for="txtSubtotal" class="form-label">Subtotal</label>
                <input type="number" class="form-control" id="txtSubtotal" name="Subtotal">
            </div>
            <div class="col-6">
                <label for="txtDescuento" class="form-label">Descuento</label>
                <input min="0" type="number" class="form-control" id="txtDescuento" name="Descuento">
            </div>
            <div class="col-6">
                <label for="txtImpuesto" class="form-label">Impuesto</label>
                <input type="number" class="form-control" id="txtImpuesto" name="Impuesto" readonly>
            </div>
            <div class="col-6">
                <label for="txtTotal" class="form-label">Total</label>
                <input type="number" class="form-control" id="txtTotal" name="Total">
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-end mb-2">
            <button type="button" class="btn btn-secondary" id="btnAgregar">Agregar producto</button>
        </div>

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-2">
            <button type="submit" class="btn btn-primary" id="btnAgregar">Guardar Factura</button>
        </div>
    </form>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <form class="modal-content" name="frmMaterial">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="FormModalLabel">Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body g-4">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="ddlMaterial" class="form-label">Material</label>
                        <select class="form-control" id="ddlMaterial" name="IdMaterial"></select>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtCantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="txtCantidad" name="Cantidad">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Views/Ventas/nueva.js"></script>
}
