@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Resúmen</a></li>
    <li class="breadcrumb-item active">Inicio</li>
</ol>