@{
    ViewBag.Title = "Home Page";
}

        <div class=" d-flex justify-content-center align-items-center">

            <img src="~/Content/image/logo.png" class="justify-content-md-center" href="@Url.Action("Index","Home")">
        </div>

