
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Inventario","Home")">Administración</a></li>
    <li class="breadcrumb-item active">Inventario</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Inventario
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" id="btnCrearRegistro">Ingresar Nuevo</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">

            <thead>
                <tr>
                    <th>#</th>
                    <th>ID Material</th>
                    <th>Material</th>
                    <th>Cantidad Ingreso</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total</th>
                    <th>Moneda</th>
                    <th>Usuario Ingreso</th>
                    <th>Observacion</th>
                    <th>Fecha Ingreso</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <form class="modal-content" name="frmInventario">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="FormModalLabel">Inventario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body g-4">
                <div class="row">
                    <div class="col-sm-6" hidden>
                        <label for="txtid" class="form-label">ID</label>
                        <input type="text" class="form-control" id="txtid" name="IdInventario">
                    </div>

                    <div class="col-sm-6">
                        <label for="selectMaterial" class="form-label">Material</label>
                        <select class="form-select" id="selectMaterial" name="IdMaterial"></select>
                    </div>

                    <div class="col-sm-6">
                        <label for="selectMoneda" class="form-label">Moneda</label>
                        <select class="form-select" id="selectMoneda" name="IdMoneda"></select>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtFechaEntrada" class="form-label">Fecha Entrada</label>
                        <input type="date" class="form-control" id="txtFechaEntrada" name="FechaEntrada">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtCantidad" class="form-label">Cantidad</label>
                        <input type="text" class="form-control" id="txtCantidad" name="Cantidad">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtPrecioUnitario" class="form-label">Precio Unitario</label>
                        <input type="text" class="form-control" id="txtPrecioUnitario" name="PrecioUnitario">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtPrecioTotal" class="form-label">Precio Total</label>
                        <input type="text" class="form-control" id="txtPrecioTotal" name="PrecioTotal">
                    </div>

                    <div class="col-sm-12">
                        <label for="txtObservacion" class="form-label">Observación</label>
                        <textarea type="text" class="form-control" id="txtObservacion" name="Observacion"></textarea>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalTransaccion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title">Detalle de inventario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body g-4">
                <table id="tablaTransaccion" class="display cell-border" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Id Tracking</th>
                            <th>Fecha</th>
                            <th>Movimiento</th>
                            <th>Cantidad</th>
                            <th>Observacion</th>
                            <th>Usuario Ingreso</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Views/Inventario/index.js"></script>
}

