@model Sistema.Web.ViewModel.FiltrosReportesViewModel
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card" style="padding:20px; margin-top:20px">
                <div class="card-header" style="background-color: #3D0A0A; color: white; font-size: 24px ">
                    <i class="fas fa-archive me-2" style="font-size: 24px;"></i> Reporte de Inventario
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha Ingreso:</label>
                            <input type="date" class="form-control" id="fecha_ingreso" name="fecha_ingreso">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_egreso">Fecha Egreso:</label>
                            <input type="date" class="form-control" id="fecha_egreso" name="fecha_egreso">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lista_materiales">Lista de Materiales:</label>
                            <select class="form-control text-secondary" id="lista_materiales" name="lista_materiales">
                                <!-- Opciones de lista de materiales -->
                                <option class="text-secondary" value="0" selected  disabled>Selecciona un material</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select class="form-control text-secondary"  id="categoria" name="categoria">
                                <!-- Opciones de categoría -->
                                <option value="0" class="text-secondary" selected  disabled>Selecciona una categoria</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inventario">Inventario:</label>
                            <select class="form-control text-secondary" id="inventario" name="inventario">
                                <!-- Opciones de inventario -->
                                <option value="0" selected  disabled>Selecciona un inventario</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="usuario">Usuario:</label>
                            <select class="form-control text-secondary" id="usuario" name="usuario">
                                <!-- Opciones de usuario -->
                                <option value="0" selected  disabled>Selecciona un usuario</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
