@model Sistema.Web.ViewModel.FiltrosReportesViewModel
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form name="frmReporte" class="card" style="padding:20px; margin-top:20px">
                <div class="card-header" style="background-color: #3D0A0A; color: white; font-size: 24px ">
                    <i class="fas fa-archive me-2" style="font-size: 24px;"></i> Reporte de Inventario
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fecha_ingreso">Fecha:</label>
                            <input type="date" class="form-control" id="txtFecha" name="Fecha">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="materiales">Material:</label>
                            <select class="form-control text-secondary" id="ddlMaterial" name="IdMaterial">
                                <option class="text-secondary" value="" selected>Selecciona un material</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row"  style="margin-top:20px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select class="form-control text-secondary" id="ddlCategoria" name="IdCategoria">
                                <option value="" class="text-secondary" selected>Selecciona una categoria</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="usuario">Usuario:</label>
                            <select class="form-control text-secondary" id="ddlUsuario" name="IdUsuario">
                                <option value="" selected>Selecciona un usuario</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:20px">
                            <button type="submit" id="btnVisualizar" class="btn btn-secondary">Visualizar</button>
                            <button type="button" id="btnExportar" class="btn btn-success">Exportar</button>
                        </div>
                    </div>
                </div>

                <hr/>
                <div id="tabladiv" class="display cell-border d-none" style="width: 100%; margin-top:10px" >
                    <table id="tabla" class="display cell-border d-none" style="width: 100%">
                        <thead>
                            <tr>
                                <th>ID Inventario</th>
                                <th>ID Producto</th>
                                <th>Nombre Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Precio Total</th>
                                <th>Moneda</th>
                                <th>Usuario</th>
                                <th>Observacion</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Views/Home/reporte.js"></script>
}

